html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-repeat: repeat;
    background-size: auto;
    background-position: center;    
    background-image: url('https://images7.alphacoders.com/481/481909.png');
    
}

.rcard {
    height: 300px;
    width: 200px;
    background-color: #808080
}

.card-container{
    display:flex;
}

.infocard {
    width: 500px;
    width: 200px;
    background-color: #808080
}

.scroll-animation {
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.bg-type-red {
    background-color: red;
}
.bg-type-blue {
    background-color: blue;
}
.bg-type-green {
    background-color: green;
}
.bg-type-gray {
    background-color: gray;
}
.bg-type-white {
    background-color: white
}
.bg-type-yellow {
    background-color: yellow;
}
.bg-type-silver {
    background-color: silver;
}
.bg-type-purple {
    background-color: purple;
}
.bg-type-pink {
    background-color: pink;
}


